@import '../../styles/text';

.note{
	position: relative;
	margin-bottom:20px;
	border: 2px solid grey;
	display: flex;
	flex-direction: column;
}
.note:hover{
	border: 2px solid #ac0303;
}
.note-title-date{
	margin:25px 30px;
	display: flex;
}
.note-title{
	width:50%;
	font-size:20px;
	text-decoration: underline;
}
.note-date{
	width:30%;
	color:rgb(100, 100, 100);
	text-align: right;
}
.note-body{
	margin:0px 30px 25px 30px;
	color:rgb(100, 100, 100);
	overflow-wrap:break-word;
}
.note-important{
	width:20%;
	color: #ac0303;
}

app-note-menu{
	position: absolute;
	margin-left:20px;
	color:#ac0303;
	font-size:30px;
	left:100%;
}